.bodyorbiting{
  width: 90%;
  height: auto;
  min-height: 300px;
  padding: 10px;
  background-color: rgba(48, 44, 44, 0.492);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  row-gap: 30px;
  margin: 10px auto 20px auto;
  border-radius: 12px;
}

.info_satelite_container h1 {
  color: white;
  text-align: center;
  margin: 20px 0;
}

.info_satelite_container div {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;


}

.info_satelite_container div span {
  color: white;
  font-size: 18px;
  text-align: center;
}


